<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title %></title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
	<header>
		<img src="/img/header.png" width="100%" usemap="#headerimg" />
		<map name="headerimg" id="headerimg">
			<area shape="rect" coords="0,0,500,110" href="/" target="_self"></area>
			<area shape="rect" coords="500,0,1000,110" href="/movie/form" target="_self"></area>
			<area shape="rect" coords="1000,0,1500,110" href="/admin/list" target="_self"></area>
		</map>
	</header>
	<div class="container-fluid" style="width:1069px;margin-top:10px">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
				<% movies.forEach(function(item){ %>
					<div class="col-xs-3 span3">
						<a href="/movie/detail/<%=item._id%>"><section><img src="<%=item.movieimgurl %>" width="100%" /></section></a>
						<a href="/movie/detail/<%=item._id%>"><h3 style="color: black;text-align: center;"><%=item.moviename %></h3></a>
					</div>
				<% }) %>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
</html>